* {
    margin: 0;
}

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* for sticky footer */
html, body {
    height: 100%;
}

a:link {text-decoration:none; color:#09F;}
a:visited {color:#09F;}
a:hover {text-decoration:underline; color:red;}
a:active {}


/* -- Site Header -- */

#page-header h1 {
    font-family: 'Jura', sans-serif;
    background: url(/img/electric-froth-logo.png) no-repeat left bottom;
    height: 110px;
    line-height: 110px;
    padding-left: 95px;
    padding-top: 1.25em;
    margin-left: .25em;
    margin-top: 0;
}

#page-header h1 .froth {
    color: #6C6;
}

#page-header h1 a:link {text-decoration:none; color:black;}
#page-header h1 a:visited {color:black;}
#page-header h1 a:hover {text-decoration:underline; color:black;}
#page-header h1 a:active {}

.page-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 320px;
}

.page-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-nav li {
    float: left;
    padding-right: 1em;
}

.page-nav a {
    font-size: smaller;
}


/* -- Page/Post/Post Listing -- */

#post-list, #post, #page-content {
    margin-left: 2em;
}

#post-list article, #post article, #page-content {
    margin-bottom: 1.9em;
}

#post-list h1 {
    font-size: 1.2em;
    margin: 0 0 0 130px;
}

#post-list .date, #post .date, #post .description {
    color: #aaa;
    font-style: italic;
    font-size: smaller;
}

#post .description:before {
    content:" - ";
}

#post-list .date {
    display: block;
    position: relative;
    width: 120px;
    text-align: right;
    top: -16px;
}

#post-list p {
    margin-left: 130px;
    margin-top: -10px;
    font-style: italic;
}

#post h1, #page-content h1 {
    margin: 0;
    font-size: 2em;
}

#post p, #post h2, #post h3, #post h4, #post h5, #post h6 {
    margin: .5em 0 .5em .5em;
}
#post h2, #post h3, #post h4, #post h5, #post h6 {
    margin-top: 1.2em;
}


#post pre {
    white-space: pre;
}

#post ul, #post ol, #post dl {
    margin: .5em 0;
}

#post .highlighttable {
    margin: 1em 0 0 3em;
    background-color: #333;
}

#post .highlighttable .linenos {
    color: white;
    border-right: 1px dotted white;
}

#post .highlighttable td {
    padding: 1em;
}

#post .tagged {
    font-style: italic;
    font-size: smaller;
}

.post-nav ul {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    text-align: center;
}

.post-nav li {
    padding-right: .5em;
    display: inline;
}

.post-nav .active {
    font-weight: bold;
}

#page-content p {
    margin: .5em 0;
}

#page-content ul {
    margin: 1em 0;
}


/* -- Footer -- */
#page-wrap {
    min-height: 100%;
    margin-bottom: -43px;
    min-width: 320px;
    max-width: 600px;
}

#page-wrap:after {
    content: "";
    display: block;
}

#page-footer, #page-wrap:after {
    height: 40px;
}

#page-footer {
    font-size: smaller;
    color: grey;
    padding-left: 1em;
    min-width: 320px;
}

#page-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-footer li {
    float: left;
    padding-right: .25em;
    height: 18px;
    line-height: 18px;
}

#page-footer a:link {text-decoration:none; color:#09F;}
#page-footer a:visited {color:#09F;}
#page-footer a:hover {text-decoration:underline; color:red;}
#page-footer a:active {}



/* -- overrides for smaller screens -- */

@media all and (max-width: 600px) {
    section#post-list {
        margin-left: .5em;
    }

    section#post-list h1 {
        margin-left: 0;
    }

    section#post-list .date {
        display: inline;
        position: static;
        left: auto;
        top: auto;
        width: auto;
        text-align: left;
    }

    section#post-list p {
        margin: 0;
    }
}

@media all and (max-width: 350px) {
    header#page-header h1 {
        line-height: normal;
        height: auto;
        background: none;
        margin-left: 0;
        padding-left: 0
    }

    #post, #page-content {
        margin: 0 .25em;
    }

}


/* Based on MONOKAI.CSS -- found: http://igniteflow.com/pygments/monokai/ */

.highlighttable { color: white; }
.highlighttable .hll { background-color: #49483e }
.highlighttable .c { color: #75715e } /* Comment */
.highlighttable .err { color: #960050; background-color: #1e0010 } /* Error */
.highlighttable .k { color: #66d9ef } /* Keyword */
.highlighttable .l { color: #ae81ff } /* Literal */
.highlighttable .n { color: #f8f8f2 } /* Name */
.highlighttable .o { color: #f92672 } /* Operator */
.highlighttable .p { color: #f8f8f2 } /* Punctuation */
.highlighttable .cm { color: #75715e } /* Comment.Multiline */
.highlighttable .cp { color: #75715e } /* Comment.Preproc */
.highlighttable .c1 { color: #75715e } /* Comment.Single */
.highlighttable .cs { color: #75715e } /* Comment.Special */
.highlighttable .ge { font-style: italic } /* Generic.Emph */
.highlighttable .gs { font-weight: bold } /* Generic.Strong */
.highlighttable .kc { color: #66d9ef } /* Keyword.Constant */
.highlighttable .kd { color: #66d9ef } /* Keyword.Declaration */
.highlighttable .kn { color: #f92672 } /* Keyword.Namespace */
.highlighttable .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlighttable .kr { color: #66d9ef } /* Keyword.Reserved */
.highlighttable .kt { color: #66d9ef } /* Keyword.Type */
.highlighttable .ld { color: #e6db74 } /* Literal.Date */
.highlighttable .m { color: #ae81ff } /* Literal.Number */
.highlighttable .s { color: #e6db74 } /* Literal.String */
.highlighttable .na { color: #a6e22e } /* Name.Attribute */
.highlighttable .nb { color: #f8f8f2 } /* Name.Builtin */
.highlighttable .nc { color: #a6e22e } /* Name.Class */
.highlighttable .no { color: #66d9ef } /* Name.Constant */
.highlighttable .nd { color: #a6e22e } /* Name.Decorator */
.highlighttable .ni { color: #f8f8f2 } /* Name.Entity */
.highlighttable .ne { color: #a6e22e } /* Name.Exception */
.highlighttable .nf { color: #a6e22e } /* Name.Function */
.highlighttable .nl { color: #f8f8f2 } /* Name.Label */
.highlighttable .nn { color: #f8f8f2 } /* Name.Namespace */
.highlighttable .nx { color: #a6e22e } /* Name.Other */
.highlighttable .py { color: #f8f8f2 } /* Name.Property */
.highlighttable .nt { color: #f92672 } /* Name.Tag */
.highlighttable .nv { color: #f8f8f2 } /* Name.Variable */
.highlighttable .ow { color: #f92672 } /* Operator.Word */
.highlighttable .w { color: #f8f8f2 } /* Text.Whitespace */
.highlighttable .mf { color: #ae81ff } /* Literal.Number.Float */
.highlighttable .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlighttable .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlighttable .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlighttable .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlighttable .sc { color: #e6db74 } /* Literal.String.Char */
.highlighttable .sd { color: #e6db74 } /* Literal.String.Doc */
.highlighttable .s2 { color: #e6db74 } /* Literal.String.Double */
.highlighttable .se { color: #ae81ff } /* Literal.String.Escape */
.highlighttable .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlighttable .si { color: #e6db74 } /* Literal.String.Interpol */
.highlighttable .sx { color: #e6db74 } /* Literal.String.Other */
.highlighttable .sr { color: #e6db74 } /* Literal.String.Regex */
.highlighttable .s1 { color: #e6db74 } /* Literal.String.Single */
.highlighttable .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlighttable .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlighttable .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlighttable .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlighttable .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlighttable .il { color: #ae81ff } /* Literal.Number.Integer.Long */
