html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 0.08em;
}

h1 img {
    float: left;
}

h1 span {
    margin-top: 1em;
    display: inline-block;
}

h1 a:link {text-decoration: none; color: black;}
h1 a:visited {}
h1 a:hover {}
h1 a:active {}

h2 {
    font-weight: 200;
    letter-spacing: 0.08em;
}

h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 0.08em;
}


nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    margin: 0 .5em;
}

a:link {text-decoration: none;}
a:visited {}
a:hover {text-decoration: underline;}
a:active {}

ul {
    list-style-image: url('images/sword-bullet.png');
}

ul, ol {
    padding-left: 3.5em;
}

code {
    color: mediumvioletred;
}

article#content {
    clear: both;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;
    max-width: 600px;
}

ul#bloglist li.first {
    margin-top: 0;
}

ul#bloglist li {
    margin-top: 1em;
}

ul#bloglist li .date {
    font-style: italic;
    font-size: .75em;
}

div#postdate {
    font-style: italic;
    font-size: .85em;
}


@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{ 
    header h1 a img {
        display: none;
    }

    header h1 {
        font-size: 2em;
    }

    article#content {
        margin-left: auto;
    }

    ul, ol {
        padding-left: 1.5em;
    }

    ul {
        list-style-image: none;
    }

    h4, h5, h6 {
        font-style: italic;
    }
}

